@model BarKeep.Models.Cocktail

@{
    ViewData["Title"] = "Delete";
}

    <h1>@Html.DisplayFor(model => model.Name)</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cocktail</h4>
    <div class="row">
        <div class="col col-md-5">
            <div class="card mb-3" data-aos="fade-right">
                <div class="card-header">
                    <h5 class="card-title"><strong>Alcohol</strong>: @Html.DisplayFor(model => model.AlcoholType.Name)</h5>
                    <h6 class="card-subtitle"><strong>Source</strong>: @Html.DisplayFor(model => model.Source)</h6>
                    <h6 class="mt-2">@Model.CocktailDescriptors[0].Descriptor.Description / @Model.CocktailDescriptors[1].Descriptor.Description</h6>
                </div>
                <div class="card-body">
                    <img style="height: 200px; width: 100%; display: block;" src="@Url.Content(Model.ImgUrl)" alt="Card image">
                    <ul class="list-group  mt-4 mb-2">
                        <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Garnish)</strong>: @Html.DisplayFor(model => model.Garnish)</li>
                        <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Glassware)</strong>: @Html.DisplayFor(model => model.Glassware.Name)</li>
                        <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.User.FullName)</strong>: @Html.DisplayFor(model => model.User.FullName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CocktailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
